<div class="en_menu_container">
    <div class="en_container">

        <% if @current_user%>
        <a class="en_menu <%= 'active' if @en_add_vid %>" href='/add'>Добавить видео</a>
        <a class="en_menu <%= 'active' if @en_all_vid %>" href='/allenvideo'>Все видео</a>
        <a class="en_menu <%= 'active' if @en_my_vid %>" href='/myenvideo'>Мои видео</a>
         <% else %>
          <a class="en_menu <%= 'active' if @en_add_vid %>" href='/add'>Добавить видео</a>
        <a class="en_menu <%= 'active' if @en_all_vid %>" href='/allenvideo'>Все видео</a>
        <a class="en_menu <%= 'active' if @en_my_vid %>" href='/auth/vkontakte'>Мои видео</a> 
          <% end %>
    </div>
</div>